/* (PART A) WHOLE PAGE */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* (PART B) TABLE */
.demo { border-collapse: collapse; }
.demo tr:nth-child(odd) { background: #f2f2f2; }
.demo td { border: 1px solid #ddd; padding: 10px; }
.demo thead td { font-weight: 700; color: #fff; background: #000; }

/* (PART C) INPUT */
input[type=button], input[type=file] {
  margin-top: 10px; padding: 10px;
  color: #fff; background: #295dbd; border: 0;
  cursor: pointer;
}